# Ignorar archivos generados por Node.js
node_modules/
npm-debug.log*

# Ignorar archivos de configuración local de Visual Studio Code
.vscode/

# Ignorar archivos temporales
*.tmp
*.swp

# Ignorar archivos generados por tailwind.css
package-lock.json
package.json
tailwind.config.js